* { font-family: monospace; }

body { 
  width: 100vw; 
  height: 100vh; 
  /* background: radial-gradient(#fff, #9198e5); */
  /* background-image: radial-gradient(black 0%, transparent 20%, blue 50%); */
  margin: 0;
  display: flex;
}

#background {
  width: 100%; 
  height: 100%;
  z-index: 5; 
  background: linear-gradient(transparent, #00035fdb, transparent);
  /* background: linear-gradient(transparent, rgba(0,0,255,.5), transparent); */
  /* background: linear-gradient(transparent, #00ffb894, transparent);
  background: linear-gradient(transparent, #ff00f7a8, transparent); */
  animation: bg 1s infinite linear; 
  background-size: 100% 7px;
  position: absolute;
  /* display: none; */
  opacity: 0.5;
}

#canvas-wrapper {
  /* width: 500px;
  height: 500px;  */
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  position: relative;
  margin: 0 auto;
}

canvas {
  width: 100%;
  height: 100%;
  /* position: relative; */
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.buttons {
  z-index: 10;
  position: absolute; 
  top: 0;
  left: 0;
  display: flex; 
  flex-direction: column;
  padding: 0 35px 50px;
  border-radius: 20px;
  /* background: linear-gradient(360deg, #a9a9a9, white); */
}

button {
  background-color: transparent;
  margin-top: 35px;
  font-size: 35px;
  font-family: monospace;
  padding: 16px 32px;
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms;
  color: transparent;
  border: 5px solid rgba(0,0,0,0.5);
}

button:hover {
  color: white;
  background-color: #ff000091;
  box-shadow: 0px 16px 0 2px #981356;
}

button:focus { 
  outline: none; 
}

button:active {
  box-shadow: 0 2px 0 1px #981356;
  transform: translateY(16px);
}

.level-input {
  margin-top: 35px;
  width: 137px;
  transition: 300ms;
  opacity: 0.3;
}

.level-input:hover {
  opacity: 0.8;
}

#level {
  padding: 7px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  width: 100%;
  text-align: right;
  border: 5px solid rgba(0,0,0,0.5);
}

#visuals-list {
  width: 100%; 
  position: fixed;
  bottom: 0; 
  background: rgba(0,0,0,0.3);
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  align-items: center;
}

#visuals-list button {
  margin-top: 0;
  height: 82px;
  width: 137px;
}

#visual-one, #visual-two {
  position: relative; 
}

#visual-one:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url('images/one.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0; 
  background-size: cover; 
  background-position: center;
}
#visual-two:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url('images/two.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0; 
  background-size: cover; 
  background-position: center;
}

@keyframes bg {
  0% { background-position: 0 0; }
  100% { background-position: 8px 8px; }
}