.bg-glitchy-tv {
  z-index: 15;
  width: 100%; 
  height: 100%;
  position: absolute;
  /* background: linear-gradient(transparent, #00035fdb, transparent); */
  background: linear-gradient(transparent, #ff00f7a8, transparent);
  background: linear-gradient(transparent, #ff00f77a, transparent);
  /* background: linear-gradient(transparent, transparent, transparent); */
  background-size: 100% 7px; 
  animation: bg 1s infinite linear;
}

.bg-pulsing-radial {
  z-index: 5;
  height: 100vh;
  width: 100vh; 
  background: radial-gradient(#020425 0%, hsl(258, 100%, 50%) 31%, #020425 70%);
  animation: pulse-bg 2s ease infinite; 
}

.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
}

.pulsating-circle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}